.tailorMadePlans,
.traveltailor {
  position: relative;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.traveltailor {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  width: 203px;
  height: 44px;
}
.tailorMadePlans {
  font-size: var(--font-size-sm);
  font-family: var(--font-source-sans-3);
  color: var(--color-mediumturquoise);
  width: 267px;
  height: 14px;
}
.traveltailorParent {
  width: 267px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild {
  position: relative;
  width: 50.5px;
  height: 39.74px;
  margin-left: -68px;
}
.frameParent {
  position: absolute;
  top: 41px;
  left: 29px;
  width: 267px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lobster-two);
}
.vectorIcon {
  position: absolute;
  top: 522.16px;
  left: 985.44px;
  width: 454.56px;
  height: 501.84px;
}
.vectorIcon1,
.whereDoYou {
  position: absolute;
  top: 521.65px;
  left: 0;
  width: 429.54px;
  height: 502.35px;
}
.whereDoYou {
  top: 176px;
  left: 391px;
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  width: 504px;
  height: 54px;
}
.componentChild {
  border: 1px solid var(--color-mediumturquoise);
  background-color: var(--color-white);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  box-sizing: border-box;
}
.formInner,
.whatIsYour {
  position: absolute;
  top: 217px;
  left: 391px;
  width: 576px;
  height: 58px;
}
.whatIsYour {
  top: 547px;
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  width: 504px;
  height: 54px;
}
.formChild,
.howManyPeople {
  position: absolute;
  top: 588px;
  left: 391px;
  width: 576px;
  height: 58px;
}
.howManyPeople {
  top: 422px;
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  width: 504px;
  height: 54px;
}
.rectangleDiv {
  position: absolute;
  top: 463px;
  left: 391px;
  width: 576px;
  height: 58px;
}
.howManyDays {
  margin: 0;
}
.howManyDaysContainer {
  position: absolute;
  top: 301px;
  left: 391px;
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  width: 504px;
  height: 54px;
}
.formInner1 {
  position: absolute;
  top: 342px;
  left: 391px;
  width: 576px;
  height: 58px;
}
.form {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-steelblue);
  font-family: var(--font-source-sans-3);
}
